@import '../../../stylesheets/base';

.geo-point-info {
    position: absolute;
    transition: $duration-transition-medium opacity ease-in;
    opacity: 1;
    opacity: .8;
    z-index: 1111;
    box-shadow: 0 $spacing-small $radius-blur-medium, $radius-spread-medium $color-shadow-medium;
    background-color: $color-foreground;
    padding: $spacing-medium;
    min-width: 280px;
    min-height: 160px;
    pointer-events: none;

    .geo-point-detail {
        .heading {
            margin: 0 0 $spacing-medium 0;
            border-bottom: $width-separator-thin solid $color-separator;
            text-transform: capitalize;
        }

        .label {
            padding: $spacing-extra-small 0;
        }

        .no-data-available {
            margin: 0;
            padding: $spacing-extra-small 0;
            color: $color-text-placeholder;
        }
    }

    &.hidden {
        opacity: 0;
    }
}
