.palika-overview {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-alt);

    .information {
        flex-grow: 1;
        background-color: var(--color-foreground);
    }

    .hover-details {
        position: absolute;
        top: var(--spacing-medium);
        right: var(--spacing-medium);
        z-index: var(--z-index-hover-details);
        width: var(--width-hover-details);
        pointer-events: none;
    }
}
