.information-pending {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-shrink: 0;

        .back-button {
            flex-shrink: 0;
            padding: var(--spacing-small-alt) var(--spacing-medium);
            font-size: var(--font-size-extra-large);
        }

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium);
            font-size: var(--font-size-super-large);
            font-weight: var(--font-weight-bold);
        }
    }

    .content {
        display: flex;
        position: relative;
        align-content: flex-start;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: auto;

        %half-section {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            padding: var(--spacing-small) 0;
        }

        %full-section {
            flex-basis: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            padding: var(--spacing-medium) 0;
        }

        .landslides-surveyed {
            @extend %half-section;
            flex-basis: 33%;
        }

        .integrated-settlements {
            @extend %half-section;
            flex-basis: 67%;
        }

        .earthquake-landless-households {
            @extend %full-section;
        }

        .landslides-risk-score {
            @extend %half-section;
        }

        .geohazard-affected-households {
            @extend %half-section;
            flex-basis: 67%;
        }

        .tranche-update {
            @extend %half-section;
            flex-basis: 33%;
        }

        .land-purchased {
            @extend %full-section;
        }

        .people-relocated {
            @extend %full-section;
        }
    }
}
