.information-pending {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-shrink: 0;
        padding: 0 var(--spacing-small);

        .back-button {
            flex-shrink: 0;
            padding: var(--spacing-small-alt) var(--spacing-medium);
            font-size: var(--font-size-extra-large);
        }

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium);
            text-transform: uppercase;
            font-family: var(--font-family-heading);
            font-size: var(--font-size-super-large);
            font-weight: var(--font-weight-bold);
        }
    }

    .content {
        display: flex;
        position: relative;
        align-content: flex-start;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: auto;

        %section {
            flex-grow: 0;
            flex-shrink: 0;
            margin: 0 var(--spacing-medium);
            padding: var(--spacing-small) 0;
        }

        .row {
            display: flex;
            flex-basis: 100%;

            .landslides-surveyed {
                @extend %section;
                flex-basis: calc(36% - 2 * var(--spacing-medium));
            }

            .geohazard-affected-households {
                @extend %section;
                flex-basis: calc(64% - 2 * var(--spacing-medium));
            }
        }

        .tranche-update {
            @extend %section;
            flex-basis: calc(100% - 2 * var(--spacing-medium));
        }

        .land-purchased {
            @extend %section;
            flex-basis: calc(100% - 2 * var(--spacing-medium));
        }

        .integrated-settlements {
            @extend %section;
            flex-basis: calc(100% - 2 * var(--spacing-medium));
        }

        .people-relocated {
            @extend %section;
            flex-basis: calc(100% - 2 * var(--spacing-medium));
        }

        .earthquake-landless-households {
            @extend %section;
            flex-basis: calc(100% - 2 * var(--spacing-medium));
        }
    }
}
