.information {
    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .landslides-surveyed {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .landslides-risk-score {
            flex-basis: 50%;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
