@import '../../stylesheets/base';

.overview {
    display: flex;
    position: relative;
    background-color: transparent;

    .map-container {
        flex-grow: 1;
    }

    .info {
        flex-shrink: 0;
        border: $width-separator-thin solid $color-accent;
        background-color: rgba(255, 255, 255, .9);
        padding: $spacing-small;
    }
}
