@import '../../stylesheets/base';

$height-map-container: 622px;
$width-info-container: 410px;

.overview {
    display: flex;
    position: relative;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: transparent;

    .loading-animation {
        z-index: 1111,
    }

    .map-container {
        position: relative;
        flex-grow: 1;
        background-color: $color-foreground-alt;
        height: $height-map-container;
        user-select: none;

        .layer-info {
            position: absolute;
            top: 40px;
            right: $spacing-medium;
            z-index: 1111;
            border: 1px solid $color-separator;
        }

        .help-text {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(255, 255, 255, .8);
            padding: $spacing-small;

            .icon {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: center;
                margin-right: $spacing-small;
                border-radius: 50%;
                background-color: $color-info;
                width: 18px;
                height: 18px;
                color: $color-foreground;
            }
        }
    }

    .info {
        flex-shrink: 0;
        border-right: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-large;
        width: $width-info-container;
    }
}
