@import '../../stylesheets/base';

.info-layer {
    .title {
        margin: 0;
        padding: $spacing-small-alt $spacing-small;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-super-large;
    }

    .content {
        display: grid;
        grid-template-areas:
            "landslides-surveyed landslides-risk-score"
            "geohazard-affected-households geohazard-affected-households"
            "land-purchased land-purchased"
            "number-of-people-relocated number-of-people-relocated";


        %block {
            padding: $spacing-medium;
        }

        .landslides-surveyed {
            @extend %block;
            grid-area: landslides-surveyed;
        }

        .landslides-risk-score {
            @extend %block;
            grid-area: landslides-risk-score;
        }

        .land-purchased {
            @extend %block;
            grid-area: land-purchased;
        }

        .geohazard-affected-households {
            @extend %block;
            grid-area: geohazard-affected-households;
        }

        .landless-households {
            @extend %block;
            grid-area: landless-households;
        }

        .number-of-people-relocated {
            @extend %block;
            grid-area: number-of-people-relocated;
        }
    }
}
