.heading {
    padding: var(--spacing-small) var(--spacing-medium);
    text-transform: uppercase;
    color: var(--color-text);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}
