.hover-details {
    border: var(--width-separator-thin) solid var(--color-accent);
    background-color: var(--color-foreground);
    padding: var(--spacing-small);

    .name {
        display: flex;
        padding: var(--spacing-medium);
        overflow: auto;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .geo-attribute-type {
            align-self: center;
            flex-shrink: 0;
        }
    }

    .details {
        .extra {
            display: inline-block;
            padding: 0 var(--spacing-medium);
            font-family: var(--font-family-sans-serif);
            font-weight: var(--font-weight-medium);
        }
    }
}
