.hover-details {
    border: var(--width-separator-thin) solid var(--color-accent);
    background-color: var(--color-foreground);
    padding: var(--spacing-small);

    .name {
        padding: var(--spacing-medium);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .details {
        .extra {
            display: inline-block;
            padding: 0 var(--spacing-medium);
            font-family: var(--font-family-sans-serif);
            font-weight: var(--font-weight-medium);
        }
    }
}
