.overview {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-alt);

    .legend {
        position: absolute;
        bottom: 0;
        left: var(--width-left-pane);
        z-index: 11;
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
    }

    .information {
        flex-grow: 1;
        background-color: var(--color-foreground);
    }

    .hover-details {
        position: absolute;
        top: var(--spacing-medium);
        right: var(--spacing-medium);
        z-index: var(--z-index-hover-details);
        width: var(--width-hover-details);
        max-height: calc(var(--height-app) - 72px);
        overflow: auto;

        .back-button-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: var(--spacing-medium);
            overflow: hidden;

            .go-back-button {
                background-color: var(--color-accent);
                color: var(--color-text-on-accent);
                font-size: var(--font-size-medium);

                &:hover {
                    background-color: var(--color-accent);
                }
            }
        }
    }
}
