.cat-point-hover-details {
    padding-bottom: var(--spacing-medium);

    .title {
        padding: var(--spacing-medium);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .label {
        color: var(--color-text-label);
    }

    .value {
        font-family: var(--font-family-sans-serif);
        font-weight: var(--font-weight-medium);
    }

    &.cat2 {
        .title {
            color: var(--color-warning);
        }
    }

    &.cat3 {
        .title {
            color: var(--color-danger);
        }
    }
}
