@import '../../stylesheets/base';

.label {
    display: flex;
    color: $color-text;

    .title {
        flex-shrink: 0;
        padding-right: $spacing-small;
    }

    .separator {
        flex-shrink: 0;
        padding-right: $spacing-small;
    }

    &.low {
        color: $color-success;
    }

    &.medium {
        color: $color-warning;
    }

    &.high {
        color: $color-danger;
    }
}
