@import '../../stylesheets/base';

.label {
    color: $color-text;

    &.low {
        color: $color-success;
    }

    &.medium {
        color: $color-warning;
    }

    &.high {
        color: $color-danger;
    }
}
