.relocation-site-details {
    .title {
        padding: var(--spacing-medium);
        color: var(--color-primary);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }
}
