@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.landslides-surveyed {
    .heading {
        @extend %heading;
    }

    .label {
        display: table-row;

        :global {
            .title {
                display: table-cell;
            }

            .value {
                display: table-cell;
            }
        }
    }
}
