.people {
    padding: var(--spacing-medium);

    .icon {
        width: 100%;
        height: var(--height-relocated-person);
        object-fit: contain;
        object-position: center center;
    }

    .value {
        text-align: center;
        font-family: var(--font-family-monospace);
        font-weight: var(--font-weight-bold);
    }
}
