@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.number-of-people-relocated {
    .heading {
        @extend %heading;
    }

    .content {
        display: flex;
        align-items: flex-end;

        .item {
            padding: $spacing-small;

            .value {
                text-align: center;
            }
        }
    }
}
