@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.number-of-people-relocated {
    .heading {
        @extend %heading;
    }

    .content {
        display: flex;
        align-items: flex-end;

        .item {
            padding: $spacing-medium;
            text-align: center;

            .image {
                width: auto;
                height: 72px;
            }

            .value {
                text-align: center;

                .number {
                    font-family: inherit;
                }
            }
        }
    }
}
