@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.number-of-people-relocated {
    .heading {
        @extend %heading;
    }

    .content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .item {
            padding: $spacing-medium;
            text-align: center;

            .image {
                width: auto;
                height: 72px;
            }

            .value {
                min-width: 5ch;
                text-align: center;
            }
        }
    }

    .detail {
        display: flex;
        align-items: baseline;

        .value {
            flex-shrink: 0;
            padding-right: $spacing-small;
            font-weight: $font-weight-bold;
        }

        .description {
            padding: 0;
        }
    }
}
