.landslides-surveyed {
    .header {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
            padding-right: var(--spacing-large);
            font-size: var(--font-size-large);
        }
    }
}
