@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.landless-households {
    .heading {
        @extend %heading;
    }

    .content {
        display: flex;
        align-items: center;

        .chart {
            width: 96px;
            height: 96px;
        }
    }
}
