.text-output {
    display: flex;
    align-items: baseline;

    .label {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .separator {
        padding: var(--spacing-small) 0;
    }

    .value {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    &.invert-order {
        .label {
            order: 1;
        }

        .value {
            order: 0;
        }
    }
}
