@import '../../stylesheets/base';

.district-overview {
    display: flex;
    position: relative;
    background-color: transparent;

    .map-container {
        position: relative;
        flex-grow: 1;
        user-select: none;

        .back-button {
            position: absolute;
            top: $spacing-small;
            right: $spacing-small;
            z-index: 1111;
        }

        .layer-info {
            position: absolute;
            top: 32px;
            right: $spacing-medium;
            z-index: 1111;
        }
    }

    .info {
        flex-shrink: 0;
        border: $width-separator-thin solid $color-accent;
        background-color: rgba(255, 255, 255, .9);
        padding: $spacing-small;
        min-width: 400px;
    }
}
