@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.geohazard-affected-households {
    .heading {
        @extend %heading;
    }

    .content {
        display: flex;
        align-items: center;

        .chart {
            width: 96px;
            height: 96px;
        }
    }

    :global {
        .value {
            font-family: $font-family-monospace;
        }
    }
}
