@import '../../../stylesheets/base';
@import '../../../stylesheets/heading';

.landslides-risk {
    .heading {
        @extend %heading;

        .help-icon {
            display: inline-block;
            margin-left: $spacing-extra-small-alt;
            color: $color-text-label;
        }
    }
}
