.loading-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-app);
    color: var(--root-preload-text-color);
    font-family: var(--font-family-sans-serif);
    font-size: var(--root-text-font-size);
}

.app {
    display: flex;
    height: var(--height-app);
    font-family: var(--font-family-sans-serif);

    * {
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: var(--font-weight-normal);
    }

    .left {
        flex-shrink: 0;
        width: var(--width-left-pane);
        overflow: auto;
    }

    .right {
        flex-grow: 1;
        border: 1px solid blue;
    }
}
